# boardid.config

# Read the D1's SID and use the last 8 digits (turns out 4 isn't sufficient)
# NOTE: I couldn't find good information on how reliable this method was in
#       producing a unique ID. The SID info in the D1's datasheet was on
#       accessing the SID and not on how the eFuse's were programmed. Please
#       let me know if you find definitive info on this.
-b binfile -f /sys/bus/nvmem/devices/sunxi-sid0/nvmem -l 16 -k 0 -n 8
